.text {
    display: flex;
    align-items: center;
    margin-bottom: 16px;    
}

.comment {
    &__user {
        font-weight: 700;
    }
    &__item {
        margin-bottom: 8px;
        line-height: 1.5;
    }
}