.c-button {
  width: 270px;
  height: 44px;
  border-radius: 5px;
  background-color: #31AE54;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin:0 auto;


  &:hover {
    background-color: #9E9E9E;
    cursor: pointer;
  }
}
