.c-user {
    color: #292929;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .avatar-wrap {
    width: 32px;
    margin-right: 12px;
  }