.c-progress {
    background-color: #31ae544d;
    height: 2px;
    width: 360px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &.active {
        .indicator {
            width: 100%;
            transition: width 5s;
            transition-timing-function: linear;
        }
    }
}

.indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--green);
}