.comment {
    &__user {
      margin-top:32px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
.feed__user .user {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    & img {
      width:44px;
      margin-right:20px;
    }
  }
.posts__list {
    margin-top:32px;
  }
  