.x-container {
    width: 1200px;
}

.topline {
    width: 100%;
    padding-top: 47px;
    background: #fafafa;
    box-shadow: 0px 0.33px 0px rgba(60, 60, 67, 0.29);
  
    margin: 0 auto;
    padding-bottom: 37px;
  
    &__container {
      margin-left: 52px;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-top: 37px;
}